@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

#body {
    font-family: Roboto;
    font-size: 16px;
    background-color: #0d1117;
    color: #ffffff;
}

.header{
    font-family: Montserrat;
    padding: 10px;
    margin: 10px;  
}

.first-title, .sub-titles {
    margin: 10px;
    font-weight: normal;
    color: #e48f4f;
}

.navigation {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: Bitcount Grid Single;
}

.menu {
    margin: 10px;
    text-decoration: none;
    color: #e9e9e9;
    font-size: 24px; 
}

.container-3 {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    font-size: 15px;
}

.box {
    margin: 10px;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #e48f4f;
    width: 15%; 
    text-align: center;
    box-shadow: 0 4px 6px #e48f4f;
}